body {
    font-family: 'Playwrite Australia Victoria', sans-serif;
    margin: 50px;
    padding: 50px;
    background: url('/Campaign/images/PRC.png');
    color: #fff;
    padding-top: 100px;
  }
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}